
body{
    background-color: #FFFFFF;
    
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
}

body {
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: #f8f8f8;
    background-image: url(background.png);
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}