
---
---

header {
    background-image: url('{{ site.baseurl }}/img/bicycle.jpg');
  }
  
body {
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: #f8f8f8;
    background-image: url(background.png);
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}