<!DOCTYPE html>
<html>

<body>

  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/prof">Prof</a></li>
      <li><a href="/pubs">Pubs</a></li>
      <li><a href="/pers">Pers</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>

  <footer>
    <ul>
      <li><a href="mailto:abutyrev@gmail.com">email</a></li>
      <li><a href="https://github.com/alexeybutyrev">github.com/alexeybutyrev</a></li>
    </ul>
  </footer>
</body>

</html>