<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>


<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Professional">Professional</a></li>
      <li><a href="/Posts">Posts</a></li>
      <li><a href="/Hobbies">Hobbies</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>
  <div class="dataart">

    <img src="../css/background.png" alt="Data Art">

  </div>
  <footer>
    <ul>
      <li><a href="mailto:abutyrev@gmail.com">email</a></li>
      <li><a href="https://github.com/alexeybutyrev">github.com/alexeybutyrev</a></li>
    </ul>
  </footer>
</body>

</html>